<div class="loading-container">
    <div class="load-proceeding-circle">
       <div class="spinner-border text-secondary" role="status"></div>
    </div>
    <div class="loading-wrapper"></div>
</div>
